/Garage/bin
/Gatrage/obj
/Garage.Test/bin
/Gatrage.Test/obj
/Calculator/bin
/Calculator/obj
Garage/obj/C#_Fundamentals.csproj.nuget/
Garage/bin/Debug/netcoreapp2.2/
Garage.Test/obj/
Garage/obj/C#_Fundamentals.csproj.nuget.dgspec.json
